.movie_card {
    overflow: visible;
    width: 100%;
    height: 19rem;
    width: 13rem;
    border-radius: 20px;
    cursor: pointer;
}

.movie_card_content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    border-radius: 20px;
}

.movie_card:hover .movie_card_content {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    overflow: hidden;
}

.back {
    background-color: rgb(26, 105, 79);
    display: flex;
}

.back_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.back_content img, .front_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

.front_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: rotateY(180deg);
}

.front {
    background-color: rgb(76, 26, 105);
    transform: rotateY(180deg);
    color: white;
    display: flex;
}

.front_content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.front_content {
    background-color: #00000055;
    padding: 2px 7px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
}

.description {
    color: white;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 4.5em;
    font-size: 13px;
}

.card_footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
}


.movie_cart_product_year {
    font-size: 14px;
}

.movie_cart_country {
    font-size: 14px;
}

.movie_cart_imdb_icon {
    width: 30px;
    height: 30px;
}

.movie_cart_imdb {
    margin-top: 1px;
    width: 30px;
    height: 30px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 5px;
}

.movie_cart_bottom {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    justify-content: space-around;
}

.movie_cart_imdb_container {
    margin-top: 2px;
    /* background-color: chartreuse; */
    display: flex;
}

.movie_cart_summary_title {
    font-size: 14px;
 }

 .movie_cart_description_container {
    padding: 10px;
}

.movie_cart_bookmark {
    font-size: 16px;
}

@media (max-width: 700px) {
    .movie_card {
        overflow: visible;
        width: 100%;
        height: 14rem;
        width: 9rem;
        border-radius: 20px;
        cursor: pointer;
    } 

     .front_title {
        line-height: 5px;
        font-size: x-small;
     }   

     .movie_cart_product_year {
        font-size: x-small;
     }

     .movie_cart_country {
        font-size: x-small;
     }

     .movie_cart_summary_title {
        font-size: x-small;
     }

     .description {
        font-size: x-small;
     }

     .movie_cart_description_container {
         padding: 5px;
         padding-top: 0;
     }

     .movie_cart_imdb_icon {
        width: 25px;
        height: 25px;
    }

    .movie_cart_imdb {
        margin-top: -1px;
        font-size: 14px;
    }

    .movie_cart_bookmark {
        font-size: 11px;
    }
  }

