.slider-and-cart {
    display: flex;
    justify-content: center;
    margin-top: 6%;
  }
  
  
  .slider {
    margin-top: 10px;
    width: 600px;
    height: 335px;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
  }
  
  
  .SwiperSlide img{
    width: 600px;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    border-radius: 10px;
     
  }
  .minibanner {
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
    margin-right: 20px;
    /* background-color: antiquewhite; */
  }
  
  .horizontal-minibanner {
    display: flex;
    margin: 5px;
    /* background-color: blue; */
  }
  
  .horizontal-minibanner2 {
    display: flex;
    margin: 5px;
    /* background-color: blue; */
  }
  
  .minibanner {
    margin: 10px;
    width: 300px;
    height: 150px;
    /* background-color: #40D3DC; */
    border-radius: 10px;
  }
  
  
  .minibanner img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .slide-content {
    position: relative;
  }
  
  .slide-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .slide-text2 {
    position: absolute;
    margin-top: 100px;
    margin-right: 20px;
    /* bottom: 20px;
    right: 20px; */
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    font-size: 12px;
    border-radius: 5px;
  }
  
  .slide-text h2 {
    white-space: nowrap; /* جلوگیری از شکستن خط */
    overflow: hidden; /* جلوگیری از نمایش متن اضافی */
    text-overflow: ellipsis; /* نمایش سه نقطه برای متون طولانی */
    max-width: 600px; /* حداکثر عرض برای متن */
}

  

@media (max-width: 1200px) {

  
  

    .minibanner {
      /* margin-top: 10px; */
      width: 220px;
      height: 118px;
    }
  
    .slider {
      width: 480px;
      height: 270px;
    }
    
    .slide img{
      width: 520px;
      height: 270px;
    }

    .slide-text {
      position: absolute;
      bottom: 15px;
      right: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 8px;
      font-size: 12px;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .slide-text2 {
      position: absolute;
      margin-top: 80px;
      margin-right: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 8px;
    font-size: 12px;

      border-radius: 5px;
    }
  }
  
  @media (max-width: 992px) {

    .slider-and-cart {
      display: flex;
      flex-direction: column;
    }
  
    .slider {
      width: 100%;
      height: 100%;
    }
    
    .slide img{
      width: 100%;
      height: 100%;
    }
    
    .minibanners {
      display: flex;
      flex-direction: column;
      /* margin-top: 100px; */
      justify-content: center;
      /* background-color: antiquewhite; */
    }
    .horizontal-minibanner {
      display: flex;
      justify-content: center;
      margin: 5px;
      /* background-color: blue; */
    }
  
    .horizontal-minibanner2 {
      display: flex;
      justify-content: center;
      margin: 5px;
      /* background-color: blue; */
    }
  
  
    .minibanner {
      margin-top: 0;
      width: 400PX;
      height: 200PX;
    }

    .slide-text {
      position: absolute;
      bottom: 15px;
      right: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 8px;
      font-size: 14px;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .slide-text2 {
      position: absolute;
      margin-top: 150px;
      margin-right: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 8px;
    font-size: 12px;

      border-radius: 5px;
    }
    
  }
  
  @media (max-width: 768px) {
    
  
  
    .minibanner {
      margin-top: 0;
      width: 280px;
      height: 150px;
    }

    .slide-text {
      position: absolute;
      bottom: 15px;
      right: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 8px;
      font-size: 14px;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .slide-text2 {
      position: absolute;
      margin-top: 110px;
      margin-right: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 8px;
      font-size: 12px;

      border-radius: 5px;
    }
    .slider {
      padding: 15px;
    }
    
    
    
    .swiper {
      border-radius: 10px;
       
    }
  }
  

  @media (max-width: 468px) {
    .slider {
      margin-top: 0;
    }
  
    .slider-and-cart {
      margin-top: 10%;
    }
  
    .minibanner {
      margin-top: 0;

      /* width: 150px; */
      height: 90px;
    }

    .slide-text {
      position: absolute;
      bottom: 15px;
      right: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 8px;
      font-size: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
    }

    .slide-text2 {
      position: absolute;
      margin-top: 65px;
      margin-right: 10px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 6px;
      font-size: 7px;

      border-radius: 5px;
    }
  }