.loginaa {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../../public/Assets/3383078.jpg"); */
    /* background-size: 100% 100%; */
    background-color: aliceblue;
    height: 729px;
    width: 100%;
}

.login-container {
    margin-top: 100px;
    height: 500px;
    width: 400px;
    
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: solid 3px rgb(207, 206, 206);
}

.login-title-container {
    width: 100%;
    height: 15%;
    border-radius: inherit;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title {
    font-size: xx-large;
    font-weight: 800;
}

.login-body-container {
    width: 100%;
    height: 85%;
    border-radius: inherit;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.login-username-input {
    margin-bottom: 40px;
    width: 80%;
    height: 10%;
    border: none !important;
    border-bottom: solid 2px #000000 !important;
    background-color: inherit;
    padding: 5px;
    outline: none;
    position: relative;
    z-index: 0;
}

.login-email-input {
    margin-bottom: 40px;
    width: 80%;
    height: 10%;
    border: none !important;
    border-bottom: solid 2px #000000 !important;
    background-color: inherit;
    padding: 10px;
    outline: none;
    position: relative;
    z-index: 0;
    /* background-color: blueviolet; */
}



.login-password-input {
    margin-bottom: 40px;
    width: 80%;
    height: 10%;
    border: none !important;
    border-bottom: solid 2px #000000 !important;
    background-color: inherit;
    padding: 10px;
    outline: none;
    position: relative;
    z-index: 0;
}

.login-username-label {
    position: absolute;
    left: 290px;
    bottom: 360px;
    background-color: cadetblue;
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 0 5px;
    color: #000;
    font-size: 14px;
    z-index: 1;
}

.login-email-label {
    position: absolute;
    left: 311px;
    bottom: 270px;
    background-color: cadetblue;
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 0 5px;
    color: #000;
    font-size: 14px;
    z-index: 1;
}

.login-password-label {
    position: absolute;
    left: 308px;
    bottom: 200px;
    background-color: cadetblue;
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 0 5px;
    color: #000;
    font-size: 14px;
    z-index: 1;
}

.login-checkbox {
    width: 80%;
    /* padding: 10px; */
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: blanchedalmond;
}

.login-checkbox input {
    margin-left: 5px;
}



.login-username-input:focus + .login-username-label,
.login-username-input:not(:placeholder-shown) + .login-username-lebel {
    left: 290px;
    bottom: 372px;
    /* font-size: 0.8rem; */
    color: #000;
}

.login-email-input:focus + .login-email-label,
.login-email-input:not(:placeholder-shown) + .login-email-label {
    left: 312px;
    bottom: 300px;
    /* font-size: 0.8rem; */
    color: #000;
}

.login-password-input:focus + .login-password-label,
.login-password-input:not(:placeholder-shown) + .login-password-label {
    left: 312px;
    bottom: 300px;
    /* font-size: 0.8rem; */
    color: #000;
}

.login-button {
    margin-top: 20px;
    width: 70%;
    height: 40px;
    background-color: rgb(85, 24, 24);
    border-radius: 10px;
}

.login-already-account-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    margin-top: 10px;


}

.login-already-account-container p{
    margin-top: 4px;
}
