@font-face {
  font-family: iransans;
  src: url(../../Assets/Font/IRANSans.ttf);
}

.header {
  font-family: iransans;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
  }


  
.nav-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}

.header:hover::after {
  left: 100%;
}

.logo {
  margin-top: .4rem;
}

.logo img{
  width: 200px;
}



.navbar a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin-right: 2rem;
}

#check {
  z-index: 200;
  cursor: pointer;
  width: 55px;
  height: 55px;
  opacity: 0;
  margin-right: .15rem;
  position: absolute;
}

.icons {
  /* position: absolute; */
  font-size: 2.2rem;
  color: #fff;
  cursor: pointer;
  display: none;
}



.subscription {
  margin-top: .6rem;
  width: 120px;
  height: 40px;
  background-color: rgb(230, 56, 56);
  border-radius: 10px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  transition: .5s;
}

.subscription:hover {
  background-color: rgb(231, 12, 12);
  transition: .5s;
}

.subscription h4 {
  padding: 7px 16px;
}

.subscription i {
  display: none;
}


.login {
  margin-top: .6rem;
  width: 95px;
  height: 38px;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(218, 153, 12);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: .5s;
}

.login:hover {
  background-color: rgb(218, 153, 12);
  transition: .5s;
}

.login h4 {
  padding: 4px 30px;
}

.login i {
  display: none;
}


.search-icon {
  color: white;
  border-radius: .5rem;
  transition: .5s; 
}

.search-icon:hover {
  background-color: #ffffff2c ;
  transition: .5s;
}

.nav-left {
  display: flex;
}
@media (max-width: 1200px) {

  

  
  
  .navigation-manual {
    width: 500px;
    margin-top: 230px;
  }

  .navigation-auto {
    width: 500px;
    margin-top: 230px;
  }

  .header {
    padding: .3rem 3%;
  }
  .icons {
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    visibility: hidden;
    transition: .3s ease;
  }

  #check:checked~.navbar { 
    visibility: visible;
    height: 22.7rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }

  #check:checked~.navbar a{
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
  }

  .logo {
    margin-right: 1rem;
  }


}

@media (max-width: 992px) {
  

  
  
  .navigation-manual {
    width: 100%;
    margin-top: 50%;
  }

  .navigation-auto {
    width: 100%;
    margin-top: 50%;
  }
  
  

}

@media (max-width: 768px) {

  

  .logo img{
    width: 150px;
  }

  .logo {
    margin-right: 0rem;
  }

  .subscription {
    margin: auto;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 30px;
    padding: 18px;
    font-size: larger;
  }

  .subscription h4 {
    padding: 7px 7px;
    display: none;
  }

  .subscription i {
    display: block;
  }

  .login {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 30px;
    padding: 16px;
    font-size: larger;
  }

  .login h4 {
    display: none;
  }

  .login i {
    display: block;
    margin-top:2px ;
  }

  .search-icon {
    color: white;
    font-size: larger;
    margin: 0.5rem 1rem 0.5rem 0rem;
    padding: .3rem .5rem 0rem .5rem;
    border-radius: 2rem;
    transition: .5s;
  }
  
}


