.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/Assets/3383078.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: aliceblue;
    height: 100vh;
    /* Fullscreen height */
    width: 100%;
    /* Fullscreen width */
}

.login-container {
    height: 400px;
    width: 400px;
    backdrop-filter: blur(20px);
    box-shadow: 5px 5px 20px black;
    border-radius: 10px;
    border: solid 3px rgb(207, 206, 206);
}

.login-title-container {
    width: 100%;
    height: 15%;
    border-radius: inherit;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: end;
    /* background-color: antiquewhite; */
}

.login-title {
    font-size: xx-large;
    font-weight: 800;
}

.login-body-container {
    width: 100%;
    height: 85%;
    border-radius: inherit;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.login-username-input {
    margin-bottom: 40px;
    width: 80%;
    height: 10%;
    padding-bottom: 5px;
    border: none !important;
    border-bottom: solid 2px #000000 !important;
    background-color: inherit;
    padding-left: 40px;
    padding-right: 10px;
    outline: none;
    position: relative;
    font-size: 14px;
    z-index: 0;
}

.login-password-input {
    margin-bottom: 40px;
    width: 80%;
    height: 10%;
    padding-bottom: 5px;
    border: none !important;
    border-bottom: solid 2px #000000 !important;
    background-color: inherit;
    padding-left: 40px;
    padding-right: 10px;
    outline: none;
    position: relative;
    font-size: 14px;
    z-index: 0;
}

.login-username-label {
    position: absolute;
    left: 286px;
    bottom: 278px;
    /* background-color: cadetblue; */
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 0 5px;
    color: #ffffffb7;
    /* color: #000; */
    font-size: 14px;
    z-index: 1;
    pointer-events: none;
    /* Prevent interaction with the label */
}

.login-password-label {
    position: absolute;
    left: 300px;
    bottom: 205px;
    /* background-color: cadetblue; */
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 0 5px;
    color: #ffffffb7;
    /* color: #000; */
    font-size: 14px;
    z-index: 1;
}

.login-username-icon {
    position: absolute;
    top: 40px;
    left: 50px;
}

.login-password-icon {
    position: absolute;
    top: 115px;
    left: 50px;
}

.login-checkbox {
    width: 80%;
    /* padding: 10px; */
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    /* background-color: blanchedalmond; */
}

.login-checkbox input {
    margin-left: 5px;
    width: 12px;
    cursor: pointer;
    
}

.login-checkbox a {
    margin-right: 80px;
    color: rgb(4, 181, 181);
}

.login-checkbox a:hover {
    color: rgb(4, 247, 247);
}

.login-username-input:focus+.login-username-label,
.login-username-input:not(:placeholder-shown)+.login-username-label {
    transform: translateY(-25px);
    /* Move the label up */
    left: 286px;
    /* Adjust left position if needed */
}

.login-password-input:focus+.login-password-label,
.login-password-input:not(:placeholder-shown)+.login-password-label {
    transform: translateY(-25px);
    left: 300px;
}


.login-button {
    margin-top: 20px;
    width: 70%;
    height: 40px;
    background-color: rgb(192, 0, 80);
    box-shadow: 1px 2px 10px black;
    border-radius: 10px;
}

.login-already-account-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    margin-top: 10px;
}

.login-already-account-container p {
    margin-top: 2px;
}


.login-already-account-container a {
    color: rgb(4, 181, 181);
    font-size: 13px;
}

.login-already-account-container a:hover {
    color: rgb(4, 247, 247);
    
}

.login-error {
    color: red;
    margin-top: 10px;
    display: none;
}

@media (max-width: 400px) {
    .login-container {
        height: 400px;
        width: 300px;
    }

    .login-title-container {
        width: 100%;
        height: 15%;
    }

    .login-title {
        font-size: x-large;
        font-weight: 700;
    }

    .login-username-input {
        margin-bottom: 40px;
        width: 80%;
        height: 8%;
        font-size: 12px;
        padding-bottom: -20px;
    }

    .login-password-input {
        margin-bottom: 40px;
        width: 80%;
        height: 8%;
        font-size: 12px;
        padding-bottom: 0;
    }

    .login-username-label {
        position: absolute;
        left: 200px;
        bottom: 271px;
        font-size: 12px;
    }

    .login-password-label {
        position: absolute;
        left: 211px;
        bottom: 204px;
        font-size: 12px;
    }

    .login-username-input:focus+.login-username-label,
    .login-username-input:not(:placeholder-shown)+.login-username-label {
        transform: translateY(-20px);
        /* Move the label up */
        left: 200px;
        /* Adjust left position if needed */
    }

    .login-email-input:focus+.login-email-label,
    .login-email-input:not(:placeholder-shown)+.login-email-label {
        transform: translateY(-20px);
        left: 222px;
        
    }

    .login-password-input:focus+.login-password-label,
    .login-password-input:not(:placeholder-shown)+.login-password-label {
        transform: translateY(-20px);
        left: 211px;
    }

    .login-username-icon {
        position: absolute;
        top: 49px;
        left: 40px;
        font-size: 14px;
    }

    .login-password-icon {
        position: absolute;
        top: 118px;
        left: 40px;
        font-size: 14px;
    }

    .login-checkbox {
        width: 80%;
        /* padding: 10px; */
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 12px;
        /* background-color: blanchedalmond; */
    }

    .login-checkbox input {
        margin-left: 5px;
        cursor: pointer;
        width: 11px;
    }

    .login-checkbox a {
        margin-right: 35px;
    }

    .login-button {
        margin-top: 20px;
        width: 80%;
        height: 40px;
        background-color: rgb(192, 0, 80);
        box-shadow: 1px 2px 10px black;
        border-radius: 10px;
        font-size: 14px;
    }

    .login-already-account-container {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: smaller;
        margin-top: 10px;
    }

    .login-already-account-container p {
        margin-top: 0;
        font-size: 13px;
    }


    .login-already-account-container a {
        color: rgb(4, 181, 181);
        font-size: 13px;
    }

    .login-already-account-container a:hover {
        color: rgb(4, 247, 247);
    }
}